h5 {
    padding: 10px;
}

.box {
    height: 200px;
}

.row > .custom-1 {
    padding: 10px;
    background: #ddd;
    border: 1px solid #fff;
    line-height: 60px;
}

.row {
    margin: 40px auto;
}

.col > .custom-2 {
    background:  lightblue;
    height: 120px;
}

nav .badge {
    position: relative;
    top: 20px;
    right: 20px;
}